
.group-box {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-size: 15px;
    font-weight: 300;

    &:hover {
        color: white;
        background-color: rgb(68, 68, 68);
        transition: all 0.25s ease;
        cursor: pointer;
    }

    .group-box-name {
        display: block;
        font-weight: 500;
    }
}

.list-box {
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    box-shadow: 5px 10px;
    box-shadow: 0px 5px 7px 0px rgba(1, 1, 1, 0.05);

    &:hover {
        background-color: rgb(247, 247, 247);
        transition: all 0.25s ease;
        cursor: pointer;
    }

    .list-box-name {
        display: block;
        font-weight: 500;
    }

    .progress {
        height: 10px;
        margin-top: 5px;
        border-radius: 0;
    }
}

.item-box {
    display: flex;
    padding: 5px;
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid rgb(240, 240, 240);

    .item-box-title {
        display: block;
        font-weight: 500;
    }

    .item-box-checkbox {
        width: 10%;
        display: inline-block;

        .icon {
            width: 50px;
            height: 50px;
            padding: 10px;
            border-radius: 100%;

            &:hover {
                background-color: rgb(247, 247, 247);
                transition: all 0.5s ease;
                cursor: pointer;
            }
        }
    }

    .item-box-info {
        margin: auto;
        width: 70%;
        display: inline-block;
    }

    .options {
        width: 20%;
        text-align: right;
        display: flex;
        float: right;

        .btn {
            margin-right: 2px;
            margin-top: 2px;
        }
    }
}

.event-box {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: middle;
    font-size: 13px;
    font-weight: 300;
    color: rgb(78, 89, 112);
    background-color: rgb(227, 244, 255);

    span {
        margin-right: 5px;
        font-style: unset;
        color: gray;
    }
}
